*.log
*.exe
*.test
debug

/.idea
*.log_lock
*.log_symlink
*.rej
/AIServer/vc9bin/Server/netconfig.json
/bin/logsvr.json
/bin/token.db
/bin/logsvr
/bin/all-in-one
/bin/all-in-one-arm

/bins/gameconf
/bins/logs
/bins/var
/bins/master
/bins/logserver
/bins/*svr
/bin/race_report
/bin/pprof_report
/bin/app_anysdk.yaml
/bin/backup
/bin/raw
/.idea/watcherTasks.xml
AI/重启服务器.bat
AI/关闭服务器.bat
AI/zlib.dll
AI/vs_config.ini
AI/ssleay32.dll
AI/sgslog_filter.ini
AI/python25.dll
AI/netconfig.json
AI/msvcr120.dll
AI/log.properties
AI/librdkafka.dll
AI/libmySQL.dll
AI/libeay32.dll
AI/gs_config.ini
AI/gameconf/game_stable_config.pbt
AI/config.yaml
AI/ai_config.ini
AI/ai_config - 副本.ini
AI/ai6.bat
AI/ai5.bat
AI/ai4.bat
AI/ai3.bat
AI/ai2.bat
AI/ai1.bat
AI/aaa_del_pdb_map_exe.bat
AI/SqlServer.dll
AI/MqSql.dll
AI/MSVCP71.DLL
AI/KeyWordId.xml
AI/AISvrD_2020-03-24_11-58-38.dmp
AI/AISvrD.v12.suo
AI/AISvrD.pdb
AI/AISvrD.map
AI/AISvrD.ilk
AI/AILua/utils.lua
AI/AILua/spell_id.lua
AI/AILua/sgsAI_spell_order.lua
AI/AILua/sgsAI_const.lua
AI/AILua/sgsAI_config.lua
AI/AILua/sgsAI_array_config.lua
AI/AILua/resolvebase.lua
AI/AILua/resolve_tranSpell.lua
AI/AILua/resolve_playCard.lua
AI/AILua/resolve_passivePlayCard.lua
AI/AILua/resolve_figure.lua
AI/AILua/process_stone.lua
AI/AILua/process_skipstep.lua
AI/AILua/process_rescue.lua
AI/AILua/process_recovery.lua
AI/AILua/process_msc.lua
AI/AILua/process_movecard.lua
AI/AILua/process_modifymaxhp.lua
AI/AILua/process_judge.lua
AI/AILua/process_hurt.lua
AI/AILua/process_equip.lua
AI/AILua/process_dying.lua
AI/AILua/process_declare.lua
AI/AILua/process_dead.lua
AI/AILua/process_changeRage.lua
AI/AILua/process_buff.lua
AI/AILua/jihuo.lua
AI/AILua/equip_resolve.lua
AI/AILua/data/xlrd/xlsx.py
AI/AILua/data/xlrd/xldate.py
AI/AILua/data/xlrd/timemachine.py
AI/AILua/data/xlrd/sheet.py
AI/AILua/data/xlrd/licences.py
AI/AILua/data/xlrd/info.py
AI/AILua/data/xlrd/formula.py
AI/AILua/data/xlrd/formatting.py
AI/AILua/data/xlrd/compdoc.py
AI/AILua/data/xlrd/book.py
AI/AILua/data/xlrd/biffh.py
AI/AILua/data/xlrd/__init__.py
AI/AILua/data/stone_spell_value.lua
AI/AILua/data/spell_value_minus_sr.txt
AI/AILua/data/spell_value_minus_jr.txt
AI/AILua/data/spell_value_coef_sr.txt
AI/AILua/data/spell_value_coef_jr.txt
AI/AILua/data/spell_value_bz.lua
AI/AILua/data/spell_value.txt
AI/AILua/data/spell_value.lua
AI/AILua/data/spell_equip_value_jr.lua
AI/AILua/data/spell_equip_value.lua
AI/AILua/data/robot_card.lua
AI/AILua/data/character_value_3v3.lua
AI/AILua/data/character_value.lua
AI/AILua/data/card_base_value.txt
AI/AILua/data/ban-pick.lua
AI/AILua/data/ai_2v2win.lua
AI/AILua/data/Turn.py
AI/AILua/data/SkillConf.lua
AI/AILua/data/GameTypeConf.lua
AI/AILua/data/FigureValue.xml
AI/AILua/data/DelayConfig.xml
AI/AILua/data/AI_data.xlsx
AI/AILua/data/3v3_pick_c.lua
AI/AILua/data/3v3_pick.lua
AI/AILua/config.lua
AI/AILua/classdefine.lua
AI/AILua/Table/PlayerMg.lua
AI/AILua/Table/Player.lua
AI/AILua/StoneSpell/zhonggong.lua
AI/AILua/StoneSpell/zhenshe.lua
AI/AILua/StoneSpell/zhengjun.lua
AI/AILua/StoneSpell/youdi.lua
AI/AILua/StoneSpell/yingyong.lua
AI/AILua/StoneSpell/yingji.lua
AI/AILua/StoneSpell/yibing.lua
AI/AILua/StoneSpell/yanggong.lua
AI/AILua/StoneSpell/xubing.lua
AI/AILua/StoneSpell/xixue.lua
AI/AILua/StoneSpell/xirao.lua
AI/AILua/StoneSpell/xiongbing.lua
AI/AILua/StoneSpell/xiongbin.lua
AI/AILua/StoneSpell/xiejia.lua
AI/AILua/StoneSpell/weigong.lua
AI/AILua/StoneSpell/tongchou.lua
AI/AILua/StoneSpell/tiejia.lua
AI/AILua/StoneSpell/shihua.lua
AI/AILua/StoneSpell/qimou.lua
AI/AILua/StoneSpell/miaosuan.lua
AI/AILua/StoneSpell/liqi.lua
AI/AILua/StoneSpell/lingzhen.lua
AI/AILua/StoneSpell/lingjian.lua
AI/AILua/StoneSpell/lingdong.lua
AI/AILua/StoneSpell/jizhen.lua
AI/AILua/StoneSpell/jianren.lua
AI/AILua/StoneSpell/jiancheng.lua
AI/AILua/StoneSpell/guimou.lua
AI/AILua/StoneSpell/gongjian.lua
AI/AILua/StoneSpell/gongcheng.lua
AI/AILua/StoneSpell/fenghou.lua
AI/AILua/StoneSpell/fenfa.lua
AI/AILua/StoneSpell/dunzhen.lua
AI/AILua/StoneSpell/buzhen.lua
AI/AILua/StoneSpell/baonu.lua
AI/AILua/StoneSpell/baoneng.lua
AI/AILua/StoneSpell/StoneSpellBase.lua
AI/AILua/Spell/wugufengdeng.lua
AI/AILua/Spell/wanjianqifa.lua
AI/AILua/Spell/taoyuanjieyi.lua
AI/AILua/Spell/tao.lua
AI/AILua/Spell/shunshouqianyang.lua
AI/AILua/Spell/shuiyanqijun.lua
AI/AILua/Spell/shandian.lua
AI/AILua/Spell/shan.lua
AI/AILua/Spell/sha.lua
AI/AILua/Spell/nufachongguan.lua
AI/AILua/Spell/nanmanruqin.lua
AI/AILua/Spell/lebusishu.lua
AI/AILua/Spell/kanpo.lua
AI/AILua/Spell/juedou.lua
AI/AILua/Spell/jiu.lua
AI/AILua/Spell/guohechaiqiao.lua
AI/AILua/Spell/fudichouxin.lua
AI/AILua/RageSpell/wugufengdeng.lua
AI/AILua/RageSpell/wanjianqifa.lua
AI/AILua/RageSpell/taoyuanjieyi.lua
AI/AILua/RageSpell/tao.lua
AI/AILua/RageSpell/shunshouqianyang.lua
AI/AILua/RageSpell/shuiyanqijun.lua
AI/AILua/RageSpell/shandian.lua
AI/AILua/RageSpell/shan.lua
AI/AILua/RageSpell/sha.lua
AI/AILua/RageSpell/nufachongguan.lua
AI/AILua/RageSpell/nanmanruqin.lua
AI/AILua/RageSpell/lebusishu.lua
AI/AILua/RageSpell/kanpo.lua
AI/AILua/RageSpell/juedou.lua
AI/AILua/RageSpell/jiu.lua
AI/AILua/RageSpell/guohechaiqiao.lua
AI/AILua/RageSpell/fudichouxin.lua
AI/AILua/NpcSpell/PiaoLue.lua
AI/AILua/NpcSpell/LuMang.lua
AI/AILua/NpcSpell/LianJie.lua
AI/AILua/NpcSpell/FuSu.lua
AI/AILua/NpcSpell/FengYuan.lua
AI/AILua/JudgeSpell/judge_shandian.lua
AI/AILua/JudgeSpell/judge_luoshen.lua
AI/AILua/JudgeSpell/judge_leiji.lua
AI/AILua/JudgeSpell/judge_lebusishu.lua
AI/AILua/JudgeSpell/judge_ganglie.lua
AI/AILua/JudgeSpell/judge_beige.lua
AI/AILua/JudgeSpell/judge_baguazhen.lua
AI/AILua/JudgeSpell/judgeBase.lua
AI/AILua/HeroSpell/zhiheng.lua
AI/AILua/HeroSpell/yiji.lua
AI/AILua/HeroSpell/xuanhuo.lua
AI/AILua/HeroSpell/xuanfeng.lua
AI/AILua/HeroSpell/xiaoji.lua
AI/AILua/HeroSpell/xiangle.lua
AI/AILua/HeroSpell/wusheng.lua
AI/AILua/HeroSpell/tuxi.lua
AI/AILua/HeroSpell/tuntian.lua
AI/AILua/HeroSpell/tieqi.lua
AI/AILua/HeroSpell/tianxiang.lua
AI/AILua/HeroSpell/tianming.lua
AI/AILua/HeroSpell/shouxi.lua
AI/AILua/HeroSpell/shiyong.lua
AI/AILua/HeroSpell/shensu.lua
AI/AILua/HeroSpell/shangshi.lua
AI/AILua/HeroSpell/renxin.lua
AI/AILua/HeroSpell/renwang.lua
AI/AILua/HeroSpell/rende.lua
AI/AILua/HeroSpell/qixi.lua
AI/AILua/HeroSpell/qiangxi.lua
AI/AILua/HeroSpell/qiangwu.lua
AI/AILua/HeroSpell/poji.lua
AI/AILua/HeroSpell/mengjin.lua
AI/AILua/HeroSpell/manyi.lua
AI/AILua/HeroSpell/luoyi.lua
AI/AILua/HeroSpell/luanji.lua
AI/AILua/HeroSpell/lieren.lua
AI/AILua/HeroSpell/liegong.lua
AI/AILua/HeroSpell/lianying.lua
AI/AILua/HeroSpell/leiji.lua
AI/AILua/HeroSpell/leifa.lua
AI/AILua/HeroSpell/kurou.lua
AI/AILua/HeroSpell/jushou.lua
AI/AILua/HeroSpell/juejing.lua
AI/AILua/HeroSpell/jizhi.lua
AI/AILua/HeroSpell/jizhen.lua
AI/AILua/HeroSpell/jiushi.lua
AI/AILua/HeroSpell/jitian.lua
AI/AILua/HeroSpell/jijiu.lua
AI/AILua/HeroSpell/guose.lua
AI/AILua/HeroSpell/gongxin.lua
AI/AILua/HeroSpell/ganglie.lua
AI/AILua/HeroSpell/fankui.lua
AI/AILua/HeroSpell/fanjian.lua
AI/AILua/HeroSpell/fangzhu.lua
AI/AILua/HeroSpell/dongcha.lua
AI/AILua/HeroSpell/beige.lua
AI/AILua/HeroSpell/baoli.lua
AI/AILua/EquipSpell/ZhangBaSheMao.lua
AI/AILua/EquipSpell/QingGangJian.lua
AI/AILua/EquipSpell/QiLinGong.lua
AI/AILua/EquipSpell/LongYaQiang.lua
AI/AILua/EquipSpell/FengZuiDao.lua
AI/AILua/EquipSpell/Equip.lua
AI/AILua/EquipSpell/BaiYinShiZi.lua
AI/AILua/EquipSpell/BaGuaZhen.lua
AI/AILua/BaseResolve/stateAction.lua
AI/AILua/BaseResolve/shuffleAction.lua
AI/AILua/BaseResolve/shaAction.lua
AI/AILua/BaseResolve/reliveAction.lua
AI/AILua/BaseResolve/moveAction.lua
AI/AILua/BaseResolve/dyAction.lua
AI/AILua/BaseResolve/drawAction.lua
AI/AILua/BaseResolve/deadAction.lua
AI/AILua/BaseResolve/copyRoleAction.lua
AI/AILua/BaseResolve/backAction.lua
AI/AILua/BaseResolve/ResolveMg.lua
AI/AILua/BaseResolve/ResolveAction.lua
AI/AILua/BaseResolve/BaseInfo.lua
AI/AILua/AIMain.lua
AI/AILua/.gitignore
AI.zip
nuyan_config/
nuyan_config.zip
AI/AISvrD_2020-03-30_17-35-18.dmp
AI/AISvrD_2020-03-30_17-34-40.dmp
tools-master-5d5ef9949b88c9b4b52fdf8aa5359d8574aa585c.zip
svn/
skills.xlsx
generals.xlsx
cmd/all-in-one/run.bat
cmd/all-in-one/netconfig.json
cmd/all-in-one/gameconf/game_stable_config_b.json
cmd/all-in-one/gameconf/game_stable_config.json
cmd/all-in-one/gameconf/game_base_config.json
cmd/all-in-one/app.yaml
cmd/all-in-one/all-in-one.exe~
card_pool_conf.xlsx
bin/gameconf/game_stable_config_backup.json
bin/gameconf/game_base_config_backuo.json
AI/AISvrD_2020-04-17_12-33-04.dmp
game_stable_config(1).json
proto/cmsg/client_msg_game.proto
/bin/logsvr.json
status_all.sh
AI/Server/AILua/data/GameTypeConf.lua
AI/Server/AILua/data/FigureValue.xml
AI/Server/AILua/data/DelayConfig.xml
AI/Server/AILua/data/AI_data.xlsx
AI/Server/AILua/config.lua
AI/Server/AILua/classdefine.lua
AI/Server/AILua/Spell/wuzhongshengyou.lua
AI/Server/AILua/Spell/wuxiekeji.lua
AI/Server/AILua/Spell/wugufengdeng.lua
AI/Server/AILua/Spell/wanjianqifa.lua
AI/Server/AILua/Spell/taoyuanjieyi.lua
AI/Server/AILua/Spell/tao.lua
AI/Server/AILua/Spell/shunshouqianyang.lua
AI/Server/AILua/Spell/shandian.lua
AI/Server/AILua/Spell/shan.lua
AI/Server/AILua/Spell/sha.lua
AI/Server/AILua/Spell/nufachongguan.lua
AI/Server/AILua/Spell/nanmanruqin.lua
AI/Server/AILua/Spell/lebusishu.lua
AI/Server/AILua/Spell/juedou.lua
AI/Server/AILua/Spell/jiu.lua
AI/Server/AILua/Spell/jiedaosharen.lua
AI/Server/AILua/Spell/guohechaiqiao.lua
AI/Server/AILua/Spell/fudichouxin.lua
AI/Server/AILua/Spell/bingliangcunduan.lua
AI/Server/AILua/JudgeSpell/judge_shandian.lua
AI/Server/AILua/JudgeSpell/judge_luoshen.lua
AI/Server/AILua/JudgeSpell/judge_leiji.lua
AI/Server/AILua/JudgeSpell/judge_lebusishu.lua
AI/Server/AILua/JudgeSpell/judge_ganglie.lua
AI/Server/AILua/JudgeSpell/judge_blcd.lua
AI/Server/AILua/JudgeSpell/judge_beige.lua
AI/Server/AILua/JudgeSpell/judge_baguazhen.lua
AI/Server/AILua/JudgeSpell/judgeBase.lua
AI/Server/AILua/HeroSpell/zhiheng.lua
AI/Server/AILua/HeroSpell/zhichi.lua
AI/Server/AILua/HeroSpell/yinghun.lua
AI/Server/AILua/HeroSpell/yiji.lua
AI/Server/AILua/HeroSpell/xuanhuo.lua
AI/Server/AILua/HeroSpell/xuanfeng.lua
AI/Server/AILua/HeroSpell/xiaoji.lua
AI/Server/AILua/HeroSpell/xiangle.lua
AI/Server/AILua/HeroSpell/wusheng.lua
AI/Server/AILua/HeroSpell/tuxi.lua
AI/Server/AILua/HeroSpell/tuntian.lua
AI/Server/AILua/HeroSpell/tieqi.lua
AI/Server/AILua/HeroSpell/tianxiang.lua
AI/Server/AILua/HeroSpell/tianming.lua
AI/Server/AILua/HeroSpell/shouxi.lua
AI/Server/AILua/HeroSpell/shiyong.lua
AI/Server/AILua/HeroSpell/shensu.lua
AI/Server/AILua/HeroSpell/shangshi.lua
AI/Server/AILua/HeroSpell/renxin.lua
AI/Server/AILua/HeroSpell/renwang.lua
AI/Server/AILua/HeroSpell/rende.lua
AI/Server/AILua/HeroSpell/qixi.lua
AI/Server/AILua/HeroSpell/qingnang.lua
AI/Server/AILua/HeroSpell/qiangxi.lua
AI/Server/AILua/HeroSpell/qiangwu.lua
AI/Server/AILua/HeroSpell/poji.lua
AI/Server/AILua/HeroSpell/niepan.lua
AI/Server/AILua/HeroSpell/mengjin.lua
AI/Server/AILua/HeroSpell/manyi.lua
AI/Server/AILua/HeroSpell/luoyi.lua
AI/Server/AILua/HeroSpell/luanji.lua
AI/Server/AILua/HeroSpell/lijian.lua
AI/Server/AILua/HeroSpell/lieren.lua
AI/Server/AILua/HeroSpell/liegong.lua
AI/Server/AILua/HeroSpell/lianying.lua
AI/Server/AILua/HeroSpell/leiji.lua
AI/Server/AILua/HeroSpell/leifa.lua
AI/Server/AILua/HeroSpell/kurou.lua
AI/Server/AILua/HeroSpell/jushou.lua
AI/Server/AILua/HeroSpell/juejing.lua
AI/Server/AILua/HeroSpell/jizhi.lua
AI/Server/netconfig.json2
AI/Server/msvcr120.dll
AI/Server/log.properties
AI/Server/librdkafka.dll
AI/Server/libmySQL.dll
AI/Server/libeay32.dll
AI/Server/gs_config.ini
AI/Server/config.yaml
AI/Server/ai_config.ini
AI/Server/aaa_del_pdb_map_exe.bat
AI/Server/SqlServer.dll
AI/Server/MqSql.dll
AI/Server/MSVCP71.DLL
AI/Server/KeyWordId.xml
AI/Server/AISvrD.v12.suo
AI/Server/AIMain.lua
AI/Server/AILua/utils.lua
AI/Server/AILua/spell_id.lua
AI/Server/AILua/sgsAI_spell_order.lua
AI/Server/AILua/sgsAI_const.lua
AI/Server/AILua/sgsAI_config.lua
AI/Server/AILua/sgsAI_array_config.lua
AI/Server/AILua/resolvebase.lua
AI/Server/AILua/resolve_tranSpell.lua
AI/Server/AILua/resolve_playCard.lua
AI/Server/AILua/resolve_passivePlayCard.lua
AI/Server/AILua/resolve_figure.lua
AI/Server/AILua/process_stone.lua
AI/Server/AILua/process_spell.lua
AI/Server/AILua/process_skipstep.lua
AI/Server/AILua/process_rescue.lua
AI/Server/AILua/process_recovery.lua
AI/Server/AILua/process_msc.lua
AI/Server/AILua/process_movecard.lua
AI/Server/AILua/process_modifymaxhp.lua
AI/Server/AILua/process_judge.lua
AI/Server/AILua/process_hurt.lua
AI/Server/AILua/process_equip.lua
AI/Server/AILua/process_dying.lua
AI/Server/AILua/process_declare.lua
AI/Server/AILua/process_dead.lua
AI/Server/AILua/process_changeRage.lua
AI/Server/AILua/process_buff.lua
AI/Server/AILua/jihuo.lua
AI/Server/AILua/equip_resolve.lua
AI/Server/AILua/data/xlrd/xlsx.py
AI/Server/AILua/data/xlrd/xldate.py
AI/Server/AILua/data/xlrd/timemachine.py
AI/Server/AILua/data/xlrd/sheet.py
AI/Server/AILua/data/xlrd/licences.py
AI/Server/AILua/data/xlrd/info.py
AI/Server/AILua/data/xlrd/formula.py
AI/Server/AILua/data/xlrd/formatting.py
AI/Server/AILua/data/xlrd/compdoc.py
AI/Server/AILua/data/xlrd/book.py
AI/Server/AILua/data/xlrd/biffh.py
AI/Server/AILua/data/xlrd/__init__.py
AI/Server/AILua/data/stone_spell_value.lua
AI/Server/AILua/data/spell_value_minus_sr.txt
AI/Server/AILua/data/spell_value_minus_jr.txt
AI/Server/AILua/data/spell_value_coef_sr.txt
AI/Server/AILua/data/spell_value_coef_jr.txt
AI/Server/AILua/data/spell_value_bz.lua
AI/Server/AILua/data/spell_value.lua
AI/Server/AILua/data/spell_equip_value_jr.lua
AI/Server/AILua/data/spell_equip_value.lua
AI/Server/AILua/data/skill_value_minus_sr.txt
AI/Server/AILua/data/skill_value_coef_sr.txt
AI/Server/AILua/data/skill_value.txt
AI/Server/AILua/data/skill_equip_value.txt
AI/Server/AILua/data/character_value_3v3.lua
AI/Server/AILua/data/character_value.lua
AI/Server/AILua/data/card_base_value.txt
AI/Server/AILua/data/Turn.py
AI/Server/AILua/data/SkillConf.lua
AI/Server/AILua/HeroSpell/jizhen.lua
AI/Server/AILua/HeroSpell/jixi.lua
AI/Server/AILua/HeroSpell/jiushi.lua
AI/Server/AILua/HeroSpell/jitian.lua
AI/Server/AILua/HeroSpell/jijiu.lua
AI/Server/AILua/HeroSpell/jianxiong.lua
AI/Server/AILua/HeroSpell/guose.lua
AI/Server/AILua/HeroSpell/gongxin.lua
AI/Server/AILua/HeroSpell/ganglie.lua
AI/Server/AILua/HeroSpell/fengpo.lua
AI/Server/AILua/HeroSpell/fankui.lua
AI/Server/AILua/HeroSpell/fanjian.lua
AI/Server/AILua/HeroSpell/fangzhu.lua
AI/Server/AILua/HeroSpell/dulie.lua
AI/Server/AILua/HeroSpell/dongcha.lua
AI/Server/AILua/HeroSpell/biyue.lua
AI/Server/AILua/HeroSpell/beige.lua
AI/Server/AILua/HeroSpell/baoli.lua
AI/Server/AILua/EquipSpell/ZhangBaSheMao.lua
AI/Server/AILua/EquipSpell/QingGangJian.lua
AI/Server/AILua/EquipSpell/QiLinGong.lua
AI/Server/AILua/EquipSpell/LongYaQiang.lua
AI/Server/AILua/EquipSpell/HanBingJian.lua
AI/Server/AILua/EquipSpell/GuanShiFu.lua
AI/Server/AILua/EquipSpell/FengZuiDao.lua
AI/Server/AILua/EquipSpell/Equip.lua
AI/Server/AILua/EquipSpell/BaiYinShiZi.lua
AI/Server/AILua/EquipSpell/BaGuaZhen.lua
AI/Server/AILua/AIMain.lua
AI/Server/AILua/.vscode/launch.json
AI/Server/AILua/.gitignore
AI/AISvrD_2020-06-08_10-21-34.dmp
AI/AISvrD_2020-06-08_10-20-52.dmp
AI/AISvrD_2020-06-08_10-20-44.dmp
AI/AISvrD_2020-06-03_16-11-52.dmp
AI/AIMain.lua
AI/AILua/process_spell.lua
AI/AILua/data/xlrd/xlsx.pyc
AI/AILua/data/xlrd/xldate.pyc
AI/AILua/data/xlrd/timemachine.pyc
AI/AILua/data/xlrd/sheet.pyc
AI/AILua/data/xlrd/licences.pyc
AI/AILua/data/xlrd/info.pyc
AI/AILua/data/xlrd/formula.pyc
AI/AILua/data/xlrd/formatting.pyc
AI/AILua/data/xlrd/compdoc.pyc
AI/AILua/data/xlrd/book.pyc
AI/AILua/data/xlrd/biffh.pyc
AI/AILua/data/xlrd/__init__.pyc
AI/AILua/data/skill_value_minus_sr.txt
AI/AILua/data/skill_value_coef_sr.txt
AI/AILua/data/skill_value.txt
AI/AILua/data/skill_equip_value.txt
AI/AILua/data/AI_data22.xlsx
AI/AILua/Spell/wuzhongshengyou.lua
AI/AILua/Spell/wuxiekeji.lua
AI/AILua/Spell/jiedaosharen.lua
AI/AILua/Spell/bingliangcunduan.lua
AI/AILua/JudgeSpell/judge_blcd.lua
AI/AILua/HeroSpell/zhichi.lua
AI/AILua/HeroSpell/yinghun.lua
AI/AILua/HeroSpell/qingnang.lua
AI/AILua/HeroSpell/niepan.lua
AI/AILua/HeroSpell/lijian.lua
AI/AILua/HeroSpell/jixi.lua
AI/AILua/HeroSpell/jianxiong.lua
AI/AILua/HeroSpell/fengpo.lua
AI/AILua/HeroSpell/dulie.lua
AI/AILua/HeroSpell/biyue.lua
AI/AILua/EquipSpell/HanBingJian.lua
AI/AILua/EquipSpell/GuanShiFu.lua
AI/AILua/.vscode/launch.json
sftp-config.json
sftp-config-alt.json
netconfig(1).json
logic_stop.sh
logic_start.sh
gs1.sh
ctrlAppName.sh
cmd/all-in-one/app - 副本.yaml
cmd/all-in-one/all-in-one
bin/nats-streaming-server
allserver.sh
ai_stop.sh
ai_status.sh
ai_start.sh
aiAppName.sh
ai1.sh
AIServer.zip
AIServer
AI/oleaut32.dll/4E58702A8f000/oleaut32.dll
AI/ole32.dll/4CE7B96F15c000/ole32.dll
AI/netconfig.json2
AI/Server/重启服务器.bat
AI/Server/关闭服务器.bat
AI/Server/zlib.dll
AI/Server/vs_config.ini
AI/Server/ssleay32.dll
AI/Server/sgslog_filter.ini
AI/Server/python25.dll
AI/Server/oleaut32.dll/4E58702A8f000/oleaut32.dll
AI/Server/ole32.dll/4CE7B96F15c000/ole32.dll
AI/
AIServer-master-8763ebe26fc4717c1a718e217d4f0fba12661c25/
bin/wechatsvr
bin/shopsvr
bin/ranksvr
bin/paysvr
bin/master_stop.sh
bin/friendsvr
bin/entitysvr
bin/emailsvr
bin/authsvr
bin/aio.sh
bin/adminsvr
bin/activitysvr
bin/accountsvr
bin/master_start.sh
bin/master
bin/logserver.sh
bin/lobbysvr
bin/jobsvr
bin/gatesvr
bin/gamesvr
bin/logserver
bin/monitersvr
bin/tokensvr
tcpkali/
sftp-config-alt2.json
cmd/all-in-one/web/
pconf/
bin/master_stop_004.sh
bin/master_start_004.sh
bin/logic_stop_004.sh
bin/logic_start_004.sh
bin/aio/
bin/listsvr
bin/all_in_one
